body {
 font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Crimson Text', serif;
}

.display-4 {
    font-size: 60px;
    color: white;
    font-weight: bold;
}

.navbar-brand {
    color: #465d50;
}

.jumbotron.home {
    background-image: url(Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    padding-top: 100px;
}

.lead {
    color: white;
}

img {
    width: 100%;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}

p {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

.fa-home {
    font-size: 24px;
    padding-left: 10px;
}

.carousel-inner {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.jumbotron.eat {
    background-image: url(restaurantbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    padding-top: 100px;
    width: 100%;
}

h5 {
    text-align: center;
}

.card-img-top {
    width: 100%;
}

.card-title {
    font-size: 24px;
}

table {
    font-size: 14px;
}

.card-group {
    padding-top: 20px;
}

h6 {
    text-align: center;
    font-size: 32px;
}
