h1 {
    color: red
}

.navbar-dark .navbar-brand {
    color: red
}
        /* this is how you override bootstrap, go to inspect and then copy the .XYZ here */

.jumbotron {
    background-image: url(rabbit-hill-inn.jpg);
    background-size:cover;
        /* this covers the parent element */
    background-attachment: fixed;
    height: 500px;
}